@font-face {
    font-family: domain;
    src: url(./5f242a69b1577e63266b4d72_DomaineDispCondMedium.ttf);
}


* {
    margin: 0;
    padding: 0;
     box-sizing: border-box;
}

#main{
    background-color: #222;
    overflow-x: hidden;
}

html, body {

    height: 100%;
    width: 100%;
}
#page1 {
    height: 119vh;
    width: 100vw;
    background-color: #C4BDB3;
    position: relative;
    overflow: hidden;
}

#nav{
    height: 100px;
   
    width: 100%;
    display: flex;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #222;
}

#nav img{
    height: 30px;
    width: 30%;
}
   

#nav h5{
    font-size: 20px;
    font-weight: 100;
    width: 30%;
}
#nav i{
    width: 30%;
    text-align: right;
}

#elems{
    height: 370px;
    display: flex;
    align-items: center;
    padding: 40px 60px;
    justify-content: space-between;
}
#elem1{
    width: 30%;
    height: 100%;
   
   
}
#elem2{
    width: 30%;
    height: 100%;
    padding: 20px 60px;
    text-align: center;
    border-right: 1px solid #2f2f2f;
    border-left: 1px solid #2f2f2f;
    
    
}
#elem3{
    width: 30%;
    height: 100%;
}
   
#elem1 #image-div{
     height: 60%;
     width: 100%;
     overflow: hidden;

}
#image-div:hover img{
    scale: 1.1;
}
#image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
}
#elem3 #image-div{
    height: 60%;
    width: 100%;
    overflow: hidden;

}
#image-div:hover img{
    scale: 1.1;
}
#elem1 h4{
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: canopee;
}
#elem1 h4 span{
    background-color: #B43B12;
    color: #C4BCB3;
    font-weight: 100;
    font-size: 18px;
    padding: 4px;
    margin-left: 10px;
    border-radius: 4px;
}
#elem1 p{
    font-size: 20px;
    font-family: domain;
    font-weight: 100;
    color: #656565;

}
#elem3 h4{
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: canopee;
}
#elem3 h4 span{
    background-color: #B43B12;
    color: #C4BCB3;
    font-weight: 100;
    font-size: 18px;
    padding: 4px;
    margin-left: 10px;
    border-radius: 4px;
}
#elem3 p{
    font-size: 20px;
    font-family: domain;
    font-weight: 100;
    color: #656565;

}
#elem2 h2{
    font-family: canopee;
    font-size: 60px;
    font-weight: 100;

    
}
#elem2 h3{
    font-family: domain;
    font-size: 30px;
    font-weight: 100;
    color: #2f2f2f;
    margin: 20px 0;

    
}
#elem2 h6{
    font-family: domain;
    font-size: 15px;
    font-weight: 100;
    color: #2f2f2f;

    
}
#div-2 h5{
    font-size: 525px;
    letter-spacing: -7px;
    font-weight: 100;
    font-family: canopee;
    background-color: #1C1C19;
    color: #C4BCB3;
    line-height: 400px;
    width: 96%;
    margin-left: 2%;
}

#page2{
    height: 160vh;
    width: 100%;
    background-color: #C4BCB3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 30px;
    
}
#page2-left{
    height: 100%;
    width: 50%;
    padding-right: 40px;
    /* background-color: red; */
    border-right: 1px solid #222;
    margin-right: 30px;
 
}

#page2-left h2{
    font-size: 120px;
    font-family: canopee;
    /* text-align: center; */
    line-height: 130px;
    font-weight: 100;
}
#page2-left span{
    font-size: 180px;
    font-weight: 800;
}
#page2-left img{
    height: 48%;
    width: 100%;
    object-fit: cover;

}
#page2-left p{
    font-size: 30px;
    font-family: domain;
    color: #2f2f2f;
    margin-top: 10px;
   
}
#page2-left span1{
    font-size: 40PX;
    font-weight: 100PX;
    
}
#page2-right{
    height: 80%;
    width: 100%;
    padding: 0 40px;
    
}
#page2-right img{
    height: 70%;
    width: 100%;
    object-fit: cover;
    margin-top: -105px ;  
}
#page2-right h1{
    font-family: canopee;
    font-size: 110px;
    letter-spacing: -5px;
    font-weight: 100;
}
#page3{
    /* height: 50vh; */
    background-color: #C4BCB3;
    position: relative;

    }
#page3 h1{
    font-size: 400px;
    font-family: canopee;
    background-color: #1C1C19;
    color: #C4BCB3;
    letter-spacing: -10px;
    width: fit-content;
    font-weight: 100;
    margin-left: 2%;
    padding: 0 20px;
    line-height: 350px;
   
  
}
#page3 img{
    height: 35  0px;
    position: absolute;
    top: 0;
    right: 3%;
    padding-right: 75px;
    margin-bottom: -20px;   
}
#page4{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #C4BCB3;
    justify-content: space-between;
}
#page4-left{
    width: 65%;
    height: 100%;
    padding: 80px 60px;

}
#page4-left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-left: -20px;
}
#page4-right{
    width: 35%;
    height: 100%;
    /* background-color: red; */
    padding: 80px 60px;

    
}
#page4-right p{
    font-size: 34px;
    font-family: domain;
    color: #2f2f2f;
    font-weight: 100;
    margin-bottom: 50px;
    line-height: 40px;
    margin-left: -50px;

}
#page4-right #anda{
  height: 150px;
  background-color: #CAC1B6;
  border-radius: 50%;
  width: 100%;
  border: 1px solid #2f2f2fc6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
  margin-left: -42px;
  
}
#anda h1{
   font-size: 80px;
   font-family: canopee;
   font-weight: 100;
   width: 100%;
   height: 100%;
   align-items: center;
   justify-content: center;
   display: flex;
   transform: translateX(-19%);
  transition: all ease 0.6s;

}
#anda img{
    height: 30px;
    transition: all ease 0.6s;  
    transform: translate(-120%);
}
#anda:hover img{
    transform: translateX(75%);
}
#anda:hover h1{
    transform: translateX(100%);
}

#page5{
   padding: 25px 0;
    width: 100%;
    background-color: #C4BCB3;
    border-top: 1px solid #2f2f2f;
    border-bottom: 1px solid #2f2f2f;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

}
#page5::-webkit-scrollbar{
    display: none;
}
#page5 h1{
    font-size: 85px;
    font-family: domain;
    font-weight: 100;
    display: inline-block;
    /* background-color: red; */
    animation-timing-function: linear;
    margin-right: 25px;
    animation-name: scroll;
    animation-duration: 2s;
    animation-iteration-count: infinite;  
}
#page5 h1 span{
    font-family: canopee;
    background-color: #1b1b1b;
    color: #C4BCB3;
    padding: 0 12px;
}
#page6{
     height: 100px;
     width: 100%;
     background-color: #C4BCB3;
 }
 

 @keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{

        transform: translateX(calc(-100% - 24px));
    }
 }
 #page5:hover h1{
    animation-play-state: paused;
 }